:root {
    --primary-bg: #0e0f0f;
    /* --primary-bg: rgb(48,49,52) */
    --secondary-bg: #2a2b2d;
    --highlight: rgba(244, 102, 7, 0.899);
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--primary-bg);
    color: #fff;
    font-family: sans-serif;
    padding: 0 15px;
    background-image: url('first page/webbg.jpeg'); /* Replace 'background.jpg' with your image file */
    background-size: cover; /* Ensures the background image covers the entire body */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
}
hr{
    margin-bottom: 10px;
}


.header {
    position: sticky;
    top: 0;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

#city_input {
    background-color: var(--secondary-bg);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;
}

#city_input:focus {
    outline: none;
}

#searchbtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
}

#locationbtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #3b7eab;
    cursor: pointer;
}
#newsbtn{
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: yellow;
    cursor: pointer;
    text-decoration: none; 
    /* color: inherit;  */
}
.card {
    background: rgb(42,46,52);
background: linear-gradient(90deg, rgba(42,46,52,1) 0%, rgba(45,99,123,1) 28%, rgba(27,47,56,1) 93%);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    color: #999;
}

.card h2 {
    font-size: 32px;
    font-weight: 500;
}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.weather-left {
    grid-column: span 1;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-weather h2 {
    margin: 7px 0;
}

.current-weather p {
    color: #fff;
}

.card-footer p {
    font-size: 14px;
    margin-bottom: 12px;
}
.forecast-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 15px;
}
.icon-wrapper{
    display: flex;
    align-items: center;
}
.weather-right{
    grid-column: span 3;
}
.weather-right h2{
    margin-bottom: 10px;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
}
.card:nth-of-type(1),
.card:nth-of-type(2){
    grid-column: span 2;
}
.card-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.air-index{
    color: #000;
    padding: 5px 10px;
    border-radius: 15px;
}
.aqi_1{
    background-color: var(--aqi-1);
}
.aqi_2{
    background-color: var(--aqi-2);
}
.aqi_3{
    background-color: var(--aqi-3);
}
.aqi_4{
    background-color: var(--aqi-4);
}
.aqi_5{
    background-color: var(--aqi-5);
}
.air-indices{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 10px;
}
.air-indices .item{
    text-align: center;
}
.air-indices .item p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.air-indices .item h2{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 20px;
}
.sunrise-sunset{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item h2{
    margin-top: 15px;
}
.card-item{
    display: flex;
    justify-content: space-between;
}
.card-item .hourly-forecast{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.hourly-forecast{
    text-align: center;
    display: flex;
    justify-content: space-between
}
@media (max-width: 1100px) {
    .weather-data {
        grid-template-columns: repeat(3, 1fr);
    }
    .weather-right {
        grid-column: span 2;
    }
    .highlights{
        grid-template-columns: repeat(3, 1fr);
    }
    .card:nth-of-type(1){
        grid-column: span 3;
    }
    .hourly-forecast {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media(max-width: 1040px){
    .weather-data{
        grid-template-columns: repeat(2, 1fr);
    }
    .weather-right{
        grid-column: span 1;
    }
    .highlights{
        grid-template-columns: repeat(2, 1fr);
    }
    .card:nth-of-type(1){
        grid-column: span 2;
    }
    .hourly-forecast {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width:992px){
    .weather-data .weather-left .highlights{
        .card{
            grid-column: span 2;
        }
        .air-indices{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
